.container {
    border-radius: 12px 12px 0 0;
}

.content {
    background-color: #24292f !important;
}

.tab[aria-selected="true"] {
    background-color: #24292f !important;
}

.tab {
    margin-top: 9px !important;
    padding-block: 0 !important;
    min-height: 50px !important;
}

.tab:nth-child(1) {
    margin-left: 9px !important;
}

.badge {
    background-color: #343941 !important;
    border-radius: 100%;
    padding: 3px 7px 3px 7px;
    margin-left: 9px;
}

.svg {
    transform: scale(0.85);
}

.MuiTabs-indicator {
    top: 0 !important;
}